@import "tailwindcss";

:root {
  /* Chic Beige Background */
  --background: #F3F1E7; 
  /* Sharp Black Text */
  --foreground: #121212;
  
  --muted: #A1A1AA;
  --muted-foreground: #52525B;
  
  --border: #D1D1C7;
  --input: #E4E2D8;
  --ring: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
